﻿ .tbl
        {
            width : 50%;
            margin:auto;
            border-collapse:collapse;
        }

        .txtbox{
            border-color:blue;
            color:red;
            width:40%;
            height:30px;
            border-radius:5px;
        }

        .button
        {
            background-color:cornflowerblue;
        }

        div#divMessagePanel{
            display:none;
        }
